In [21]:
import pandas as pd
import pickle
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [22]:
import mlflow

mlflow.set_tracking_uri("sqlite:///mlflow.db")
mlflow.set_experiment("ths-taxi-experiment")

In [23]:
df = pd.read_csv("iris.csv")
print(df.size)
df.head()

750

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [24]:
train_df = df.sample(n=100)
train_df.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
125           7.2          3.2           6.0          1.8   Virginica
31            5.4          3.4           1.5          0.4      Setosa
103           6.3          2.9           5.6          1.8   Virginica
109           7.2          3.6           6.1          2.5   Virginica
51            6.4          3.2           4.5          1.5  Versicolor

In [25]:
test_df = df.sample(n=150)
test_df.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
122           7.7          2.8           6.7          2.0   Virginica
33            5.5          4.2           1.4          0.2      Setosa
41            4.5          2.3           1.3          0.3      Setosa
55            5.7          2.8           4.5          1.3  Versicolor
88            5.6          3.0           4.1          1.3  Versicolor

In [26]:

x_train,y_train = train_df.iloc[:, :-1], train_df.iloc[:, -1]
x_test,y_test   = test_df.iloc[:, :-1], test_df.iloc[:, -1]
print("X train : ",x_train.shape)
print("x test  : ",x_test.shape)

X train :  (100, 4)
x test  :  (150, 4)

In [27]:
y_train

125     Virginica
31         Setosa
103     Virginica
109     Virginica
51     Versicolor
          ...
133     Virginica
4          Setosa
129     Virginica
73     Versicolor
115     Virginica
Name: variety, Length: 100, dtype: object

In [28]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train,y_train)

GaussianNB()

In [29]:

y_pred = gnb.predict(x_test)
accuracy = np.sum(y_test == y_pred) / len(y_test)
print("Model Accuracy: ",accuracy)

Model Accuracy:  0.9533333333333334